*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgba(167, 194, 248, 0.566);

}
#panel{
    overflow: hidden;
    height: 80%;
    width: 70%;
   background-color: black;
    border: 2px,solid,rgb(87, 61, 61);
    border-radius: 10px;
}
#ptop{
    padding: 0 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: rgb(161, 220, 102);
    
}
.box{
   
    padding: 10px 10px;
    border-radius: 5px;
    background-color: aliceblue;
    color: rgb(236, 55, 55);
    font-size: 20px;
    font-weight: 500;
}
#elem{
    width: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
}
#pbtm{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    width: 100%;
    height: calc(100%-100px);
    padding: 20px;
}
.bubble{
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font: 8px;
    border-radius: 50%;
}
.bubble:hover{
    cursor: pointer;
    background-color: aqua;
}
  